/* ASPECTOS GENERALES */
@font-face{
	font-family: 'Dancing Script';
	src: url('DancingScript-Regular.ttf');
}

body{
	background-color:  #02010a;
	font-family: 'Dancing Script', cursive;	
}

img{
	box-shadow: 2px 2px 2px 2px #02010a;
}

.contenido{
    width: 900px;
    margin: 0 auto;
}

*{
	margin: 0;
	box-sizing: border-box; 
}

        /* HEADER - ENCABEZADO */
        
.header{
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
	width: 100%;
        height: 15vh;	
	display: flex;
	flex-flow: row wrap;
        animation: slide 2s;
}

.titulo{
	color: white;
	text-shadow: 0 0 2px #02010a;
	width: 50%;
       	padding-left: 2vw;
        margin: auto 0;
}

.barra {
    width: 50%;
    text-align: right;
    margin: auto;
    padding-right: 2vw;
}

.barra a{
	color: white;	
	padding: 1vw;
        font-size: 26px;
}

.actual{
	text-decoration: none;
}

   /* SECTION - CUERPO */
   
.sect1{
	background-color: #82c3a6;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sect1 img{
	border: 1px solid black;
	height: 85%;
        width: 90%;
}

.sect2{
	display: flex;
        flex-flow: column wrap;
        align-items: center;
        background-color: #d5c75f;
        height: 300px;
        border: 1px;
	width: 100%;
}	

.paisajes{
	width: 49%;
        margin: auto;
}

.retratos{
	width: 49%;
        margin: auto;
}

.paisajes img{
	width: 90%;
	margin-left: 20px;
	transition: 1s;
}

.retratos img{
	width: 90%;
	margin-left: 20px;
	transition: 1s;
}

.paisajes img:hover{
	transition: 1s;  
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px 2px #82c3a6;
}

.retratos img:hover{
	transition: 1s;
	transform: translate(20px,-5px);
        box-shadow: 2px 2px 2px 2px #82c3a6;	
}

figcaption{    
    padding-top: 5px; 
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

     /* FOOTER  */
.footer{
    border-radius: 0 0 10px 10px;
    background-color: #C6d5c5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

li{
    padding-top: 12px;
    list-style: none;
    margin: 0px;
    font-size: 18px;
}

li img{
    width: 20px;
    margin-right: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

      /*PAISAJES Y RETRATOS HTML*/
.galeria{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 62vh;
    background-color: #d5c75f;
}

.galeria figure{
  width: 30%;
  margin: auto;
  height: 40%;
}

.galeria img{
  width: 100%;
  height: 98%;
}

.galeria figure:first-child{
   filter: blur(6px);
}

.galeria figure:nth-child(even){
 	
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.galeria figure:nth-child(3){
    
    filter: sepia (80%);
    -webkit-filter: sepia(80%);
    -moz-filter: sepia(80%);
}

@keyframes slide {
	0%{
            margin-top: 150%;
        }
	60%{
            margin-top: -5%;
        }
	100%{
            margin-top: 0%;
        }
}

          /*mobiles*/

@media all and (max-width: 900px){
    
   .contenido{
        width: 100%;
    }

    .titulo{
	width: 100%;
        text-align: center;
        font-size: 1.8em;
    }
    
    .header{
        min-height: 45vh;
    }
        
    .barra{
        width: 100%;  
        margin-top: 0;
    }
    
    .barra a{
        margin-right: 15vw;
    }
    
    .sect2{
	min-height: 1200px;
     }   
     
    .paisajes, .retratos{
	width: 100%;
        margin-left: 20px;
    }
    
    .paisajes img, .retratos img{
	width: 88%;
        height: 90%;
     }

    .footer>div{
        margin: 5vh 7vw;
        width: 100%;
    }
    
    /* PAISAJES Y RETRATOS */
    
    .galeria{
        flex-flow: column wrap;
        min-height: 1500px;
        align-items: center;
    }

    .galeria figure{
        width: 70%;
        height: 13%;
    }

    .galeria img{
        margin: auto 0;
    }
}

@media all and (max-width: 830px){
     .sect2{
        min-height: 1100px;
     }
     
     .paisajes, .retratos{
        margin-left: 2px;
     }
}

@media all and (max-width: 750px){

    .sect2{
      min-height: 1000px;
     }
}

@media all and (max-width: 650px){

    .sect2{
      min-height: 800px;
     }
}

@media all and (max-width: 500px){
    
    .sect2{
      min-height: 600px;
     }
}
     
@media all and (max-width: 325px){
    
    .sect2{
      min-height: 450px;
     }
     
}